*.7z
*.rar
*.zip
*.tar.gz
*.exe
!iconv.exe
!oggdec.exe
!tisunpack.exe
!tile2ee.exe
!TobExLoader.exe
setup-forgotten-armament
setup-forgotten-armament.command
forgotten-armament/backup/*
forgotten-armament/*.html
